:root[color-theme="light"] {
    --background: rgba(245, 245, 245);
    --header-background: #e7eaeb;
    --text: black;
    --border: black;
}

:root[color-theme="dark"] {
    --background: rgba(45, 45, 50);
    --header-background: rgba(55, 55, 55);
    --border: black;
    --text: white;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow-x: hidden;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}